<ion-view title="Pit scouting" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="pitScouting-form4" class="list">
      <label class="item item-select" id="pitScouting-select58" name="Team Number">
        <span class="input-label">Team Number</span>
        <select 
          name="team" 
          id="team" 
          ng-options="option.number + ' - ' + option.name for option in data.teams track by option.number"
          ng-model="team"
          ng-change="selectTeam()"></select>
      </label>
      <label class="item item-input" id="pitScouting-textarea7" name="PQ1">
        <span class="input-label">What chassis type is your robot?</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="pitScouting-input8">
        <span class="input-label">How tall is your chassis?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="pitScouting-select59" name="PQ3">
        <span class="input-label">What is your primary objective?</span>
        <select>
          <option>Fuel</option>
          <option>Gears</option>
          <option>Other</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select60" name="PQ4">
        <span class="input-label">What is your secondary objective?</span>
        <select>
          <option>Fuel</option>
          <option>Gears</option>
          <option>Other</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select61" name="PQ5">
        <span class="input-label">Where can your robot shoot fuel?</span>
        <select>
          <option>High</option>
          <option>Low</option>
          <option>Both</option>
          <option>None</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select62" name="PQ6">
        <span class="input-label">Can your robot climb the rope?</span>
        <select>
          <option>Unknown</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select63" name="PQ7">
        <span class="input-label">Does your robot stay up when it goes up?</span>
        <select>
          <option>Unknown</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select64" name="PQ8">
        <span class="input-label">Do you use your own rope?</span>
        <select>
          <option>Unknown</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select65" name="PQ9">
        <span class="input-label">Do you have to be right on top of the rope to climb?</span>
        <select>
          <option>Unknown</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select67">
        <span class="input-label">How do you pick up fuel?</span>
        <select></select>
      </label>
      <ion-checkbox id="pitScouting-checkbox8" name="PQ11A">Floor</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox9" name="PQ11B">Feeder station</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox10" name="PQ11C">Hopper</ion-checkbox>
      <label class="item item-select" id="pitScouting-select68">
        <span class="input-label">Where can you put your human players?</span>
        <select></select>
      </label>
      <ion-checkbox id="pitScouting-checkbox11" name="PQ12A">Airship</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox12" name="PQ12B">Feeder station</ion-checkbox>
      <label class="item item-select" id="pitScouting-select66" name="PQ10">
        <span class="input-label">Does your robot place gears?</span>
        <select>
          <option>No</option>
          <option>Yes</option>
        </select>
      </label>
      <ion-checkbox id="pitScouting-checkbox13" name="PQ12C">Overflow</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox14" name="PQ12D">Runner</ion-checkbox>
      <label class="item item-select" id="pitScouting-select69" name="PQ13">
        <span class="input-label">Do you have autonomous?</span>
        <select>
          <option>No</option>
          <option>Yes</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select70">
        <span class="input-label">Where do you score from in autonomous?</span>
        <select></select>
      </label>
      <ion-checkbox id="pitScouting-checkbox15" name="PQ14A">Move forward</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox16" name="PQ14B">Place gear</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox17" name="PQ14C">Shoot into boiler</ion-checkbox>
      <label class="item item-select" id="pitScouting-select71" name="PQ15">
        <span class="input-label">Where can you pick up gears?</span>
        <select>
          <option>Feeding Station</option>
          <option>Ground</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select72" name="PQ16">
        <span class="input-label">Where can you pick up fuel?</span>
        <select>
          <option>Feeding Station</option>
          <option>Ground</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select73" name="PQ17">
        <span class="input-label">How is your team willing to play?</span>
        <select>
          <option>Defense</option>
          <option>Offense</option>
          <option>Both</option>
        </select>
      </label>
      <label class="item item-input" id="pitScouting-textarea8" name="PQ18">
        <span class="input-label">What are your strengths?</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="pitScouting-textarea9" name="PQ19">
        <span class="input-label">What are your weaknesses?</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="pitScouting-input10" name="PQ20">
        <span class="input-label">On a scale of 1 to 10 what is your robots manuverability?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="pitScouting-input15" name="PQ21">
        <span class="input-label">How many feet per second can your robot travel?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="pitScouting-input16" name="PQ22">
        <span class="input-label">How many years has your driver been driving?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="pitScouting-input17" name="PQ23">
        <span class="input-label">How many years has your manipulator been manipulating your robot?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="pitScouting-input18" name="PQ24">
        <span class="input-label">How quickly can you do a full cycle?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="pitScouting-select74">
        <span class="input-label">Fuel firing</span>
        <select></select>
      </label>
      <ion-checkbox id="pitScouting-checkbox18" name="PQ25A">High</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox19" name="PQ25B">Low</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox20" name="PQ25C">Single</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox21" name="PQ25D">Multi</ion-checkbox>
      <label class="item item-input" id="pitScouting-textarea10" name="PQ26">
        <span class="input-label">What drivetrain do you have?</span><textarea placeholder=""></textarea></label>
      <label class="item item-select" id="pitScouting-select75">
        <span class="input-label">What position can your team start from?</span>
        <select></select>
      </label>
      <ion-checkbox id="pitScouting-checkbox22" name="PQ27A">Closest stands</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox23" name="PC27B">Middle</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox24" name="PQ27C">Closest pit</ion-checkbox>
      <label class="item item-input" id="pitScouting-input19" name="PQ28">
        <span class="input-label">How expereienced is your Drive Team? (How many years of Drive team do they have)?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="pitScouting-textarea11" name="PQ29">
        <span class="input-label">What type of shooter does your robot have?</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>