<ion-view title="Burger Minder">
  <ion-content padding="true" class="has-header">
    <div ng-controller="burgerMinderCtrl" class="padding">
      <!--button class="button button-positive button-block" ng-click="refresh()">Refresh</button-->

      <ion-card ng-repeat="overview in matchOverviews | orderBy:'-'">
        <div ng-if="overview != null">
          <div class="item item-divider">
            <h2>Match #{{overview.matchNum}}</h2>
          </div>
          <div class="item item-text-wrap">
            <div class="row" ng-repeat="scout in overview.scouts">
              <div class="col-33"><p><strong>Scout:</strong> {{scout.name}}</p></div>
              <div class="col-33"><p><strong>Team:</strong> {{scout.teamNum}}</p></div>
              <div class="col-33"><p><strong>Missing questions:</strong> {{scout.unanswered.join(', ')}}</p></div>
              </tr>
            </div>
          </div>
        </div>
      </ion-card>
      <ion-card>
        <div class="item item-divider">
          Legend
        </div>
        <div class="item item-text-wrap">
          <span style="font-size: small;">
          [AQ1 = Autonomous?]&nbsp;&nbsp;[AQ2 = Hang gears?]&nbsp;&nbsp;
          [AQ3 = Cross line?]&nbsp;&nbsp;[AQ5 = Score in boiler?]&nbsp;&nbsp;
          [AQ10 A/B/C = Which post?]&nbsp;&nbsp;[AQ11 = kPa scored in Autonomous? (+/-)]&nbsp;&nbsp;
          [TQ1 = Gears hung? (+/-)]&nbsp;&nbsp;[EQ11 = Scale?]&nbsp;&nbsp;
          [EQ18 = kPa scored in Match? (+/-)]&nbsp;&nbsp;[HQ12 = Is the human player good?]
          </span>
        </div>
      </ion-card>

    </div>
  </ion-content>
</ion-view>