<ion-view title="Match Scouting" id="page3">
  <ion-content padding="true" class="has-header">
    <div ng-controller="matchScoutingCtrl" class="padding">
      <form id="matchScouting-header" class="list">
        <label class="item item-select" id="Team Number" name="Team Number">
          <span class="input-label">Team Number</span>
          <select 
            name="team" 
            id="team" 
            ng-options="team.number + ' - ' + team.name for team in teams track by team.number"
            ng-model="team"
            ng-change="selectTeamMatchScout()"></select>
        </label>
          
        <label class="item item-select">
          <span class="input-label">Match Number</span>
          <select 
            ng-model="matchNum"
            ng-change="selectTeamMatchScout()">
            <option 
              ng-repeat="i in numMatches track by $index">{{$index+1}}</option>
          </select>
        </label>
        
        <label class="item item-select">
          <span class="input-label">Scout's Name</span>
          <select
            name="scout" 
            id="scout" 
            ng-options="scout.name for scout in scouts track by scout.name"
            ng-model="scout"
            ng-change="selectTeamMatchScout()"></select>
        </label>
      </form>

      <form id="matchScouting-autonomous" class="list" ng-show="allIdFieldsSelected()">
        <div class="item item-divider">Autonomous</div>
        
        <label class="item item-select">
          <span class="input-label">Autonomous?</span>
          <select
            id="AQ1"
            ng-model="AQ1"
            ng-change="updateField('AQ1')"> 
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </label>
        
        <label class="item item-select">
          <span class="input-label">Hang gears?</span>
          <select
            id="AQ2"
            ng-model="AQ2"
            ng-change="updateField('AQ2')">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </label>
        
        <div ng-show="AQ2 == 1">
          <div class="item item-divider">Which post?</div>
          <ion-checkbox ng-model="AQ10A" ng-change="updateField('AQ10A')">Boiler</ion-checkbox>
          <ion-checkbox ng-model="AQ10B" ng-change="updateField('AQ10B')">Middle</ion-checkbox>
          <ion-checkbox ng-model="AQ10C" ng-change="updateField('AQ10C')">Load zone</ion-checkbox>
        </div>
        
        <div class="item item-input">
          <span class="input-label">Autonomous kPa?</span>
          <button
            class="button button-small button-assertive icon ion-minus"
            ng-click="deckPaCount('Auto')"></button>
          &nbsp;&nbsp;{{AQ11}}&nbsp;&nbsp;
          <button
            class="button button-small button-balanced icon ion-plus"
            ng-click="inckPaCount('Auto')"></button>
        </div>
        
        <label class="item item-select">
          <span class="input-label">Cross line?</span>
          <select
            id="AQ3"
            ng-model="AQ3"
            ng-change="updateField('AQ3')">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </label>
        
        <label class="item item-select">
          <span class="input-label">Score in boiler?</span>
          <select
            id="AQ5"
            ng-model="AQ5"
            ng-change="updateField('AQ5')">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </label>
        
        <div class="item item-divider">Teleop</div>
      
        <div class="item item-input">
          <span class="input-label">Gears hung?</span>
          <button
            class="button button-small button-assertive icon ion-minus"
            ng-click="decGearCount()"></button>
          &nbsp;&nbsp;{{TQ1}}&nbsp;&nbsp;
          <button
            class="button button-small button-balanced icon ion-plus"
            ng-click="incGearCount()"></button>
        </div>
        
        <div class="item item-divider">Post-game</div>
        
        <label class="item item-select" id="EQ11" name="EQ11">
          <span class="input-label">Scale?</span>
          <select
            id="EQ11"
            ng-model="EQ11"
            ng-change="updateField('EQ11')">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </label>
        
        <div class="item item-input">
          <span class="input-label">kPa scored for Match?</span>
          <button
            class="button button-small button-assertive icon ion-minus"
            ng-click="deckPaCount('Match')"></button>
          &nbsp;&nbsp;{{EQ18}}&nbsp;&nbsp;
          <button
            class="button button-small button-balanced icon ion-plus"
            ng-click="inckPaCount('Match')"></button>
        </div>

        <label class="item item-input" id="EQ17" name="EQ17">
          <span class="input-label">Notes</span>
          <textarea 
            id="EQ17" 
            ng-model="EQ17"
            ng-change="updateField('EQ17')" 
            placeholder=""
            rows="5"></textarea>
        </label>
        
        <div class="item item-divider">Human Player</div>
        
        <label class="item item-select">
          <span class="input-label">Is the human player (pilot) good?</span>
          <select
            id="HQ12"
            ng-model="HQ12"
            ng-change="updateField('HQ12')">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </label>
        
        <label class="item">{{scout.name}}, pay attention!&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/einstein.jpg" width="40" /></label>
        
        <div style="float:left">
          <button
            class="button button-balanced button-block"
            ng-click="submitData()">Submit the Data</button>
        </div>
        <div style="float:right">
          <button
            class="button button-balanced button-block"
            ng-click="clearFields()">Clear the Fields</button>
        </div>
        
          
      </form>
    </div>
  </ion-content>
</ion-view>