<ion-view title="Configuration" id="page4">
  <ion-content padding="true" class="has-header">
    <div ng-controller="synchronizeCtrl" class="padding">
      <!--button id="synchronize-button8" class="button button-positive  button-block" ng-click="importTeams()">Import Team List</button-->
      <!--button id="synchronize-button9" class="button button-positive  button-block" ng-click="importScouts()">Import Scout List</button-->
      <button id="synchronize-button10" class="button button-positive  button-block" ng-click="exportData()">Export Data</button>
      <form id="synchronize-form5" class="list">
        <!--label class="item item-input">
          <span class="input-label">Firebase apiKey</span>
          <input type="text" placeholder="" ng-model="apiKey">
        </label>
        <label class="item item-input">
          <span class="input-label">Firebase authDomain</span>
          <input type="text" placeholder="" ng-model="authDomain">
        </label>
        <label class="item item-input">
          <span class="input-label">Firebase databaseURL</span>
          <input type="text" placeholder="" ng-model="databaseURL">
        </label>
        <label class="item item-input">
          <span class="input-label">Firebase storageBucket</span>
          <input type="text" placeholder="" ng-model="storageBucket">
        </label>
        <label class="item item-input">
          <span class="input-label">Firebase messagingSenderId</span>
          <input type="text" placeholder="" ng-model="messagingSenderId">
        </label-->
        <label class="item item-input">
          <span class="input-label">Number of Matches</span>
          <input 
            type="number" 
            placeholder="" 
            ng-model="numMatches" 
            ng-blur="setNumMatches()">
        </label>
        <label class="item item-input">
          <span class="input-label">Export Pit Data</span>
          <textarea 
            id="exportPitData"
            ng-model="exportPitData"
            rows="8">
          </textarea>
        </label>
        <label class="item item-input">
          <span class="input-label">Export Match Data</span>
          <textarea 
            id="exportMatchData"
            ng-model="exportMatchData"
            rows="8">
          </textarea>
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>